@font-face {
    font-family: 'NeufileGrotesk';
    src: url(../../assets/fonts/neufile/neufile-grotesk-light.otf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NeufileGrotesk';
    src: url(../../assets/fonts/neufile/neufile-grotesk-regular.otf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'NeufileGrotesk';
    src: url(../../assets/fonts/neufile/neufile-grotesk-medium.otf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'NeufileGrotesk';
    src: url(../../assets/fonts/neufile/neufile-grotesk-semibold.otf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'NeufileGrotesk';
    src: url(../../assets/fonts/neufile/Neufile-Grotesk-Bold.otf);
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'NeufileGrotesk-Italic';
    src: url(../../assets/fonts/neufile/Neufile-Grotesk-Light-Italic.otf);
    font-weight: 300;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');